#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

#__Objectives covered__:

- List popular languages for Data Science  
- List commonly used libraries in Data Science  
- Use arithmetic expressions in Python  
- Create tables using markdown  
- Understand basic data science tools and environments

List of some data science languages

1. Python
2. R
3. SQL

Some of the popular languages that Data Scientists use are:

1. Pandas
2. Numpy
3. TensorFlow

Some of the commonly used libraries used by Data Scientists include:

1. Jupyter Notebook
2. Apache Zeppelin
3. RStudio

###Below are a few examples of evaluating arithmetic expressions in Python:

In [4]:
###This is a single arithmetic expression to multiply then add integers
(3*4)+5

17

In [5]:
###This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Sion